.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Gamers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Gamers button {
  width: 100px;
}

.Gamer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Gamer input {
  width: 30px;
}

.bodytavu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.Name {
  width: 100px;
}

.score {
  width: 80px;
}

.Input {
  width: 30px;
}

.SubmitButton {
  vertical-align: center;
}

.Graph {
  flex-grow: 2;
}